@page "/fetch-bear-attacks"
@using System.Globalization
@using ChartsApp.Shared
@inject HttpClient Http

<PageTitle>Bear Attacks</PageTitle>

<h1>Bear Attacks</h1>

@if (bearAttacks == null)
{
    <p><em>Loading...</em></p>
}
else
{
  <div class="container">
    <div class="row">
      <div class="col-sm-12 my-5">
        <RadzenChart>
          <RadzenBarSeries Data="@bearAttacks" CategoryProperty="BearName" Title="Brown" LineType="LineType.Dashed" ValueProperty="Cases" />
          <RadzenValueAxis>
            <RadzenGridLines Visible="true" />
            <RadzenAxisTitle Text="Cases" />
          </RadzenValueAxis>
          <RadzenBarOptions Radius="5" />
        </RadzenChart>
      </div>
    </div>
  </div>
}

@code {
  private AttacksPerBearType[]? bearAttacks;

  protected override async Task OnInitializedAsync()
  {
    bearAttacks = await Http.GetFromJsonAsync<AttacksPerBearType[]>("BearAttack/GetAttacksPerBearType");
  }
}
