@page "/"

<PageTitle>Bear attacks report</PageTitle>

<h1>Bear attacks report!</h1>

<p>
  This is the demo project for <code>11635 - Visualització de Dades</code>. In this app I build all the essentials required to build an app able to fetch and display data.
</p>

<ul>
  <li>Blazor app boilerplate</li>
  <li>Added dependency for radzen library so we can use their implementation of charts</li>
</ul>

<p>Note: I hidded the examples that I did to learn. To enable those pages then go to <code>ChartsApp.Client.Shared.NavMenu</code> and uncoment the desired entries.</p>
